<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
<TITLE>Switchcraft AS standard PCB template</TITLE>

</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P>This project template contains the standard Switchcraft layout. Feel free to 
copy and adapt it to any specific needs.

<p>
Read more about Switchcraft at: <a href="https://www.switchcraft.org/">https://www.switchcraft.org</a>.</p>


<P>(c)2017 Eirik Haustveit and Yngve Solbakken.<BR></P>
</body>
</html>
